.rating__container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.movie__container {
  display: flex;
  padding: 20px 40px;
}

.text__container {
  display: flex;
  flex-direction: column;

  padding: 30px 0;
  /* margin-left: 15px; */
}
.title__container {
  display: flex;
  text-transform: uppercase;
  margin-right: 30px;
}

.rating__number {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.48px;

  border-radius: 3px;
  border: solid 1px #0aaee4;
  color: #47c3f0;
}
.text__containerTitle {
  font-weight: 600;
  font-size: 20px;
}

.img__container {
  width: 250px;
  margin-right: 30px;
}
.container__button {
  position: relative;
}
.button_container {
  position: absolute;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.56px;
  text-align: center;
  color: #ffffff;
  padding: 5px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #47c3f0;

  border: 0;
}

.button_favorites {
  position: absolute;
  right: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.56px;
  text-align: center;
  color: #ffffff;
  padding: 5px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #47c3f0;

  border: 0;
}

.text__text {
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.48px;
}

.title__info {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.info__list {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.info__item {
  width: 100px;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.56px;
  text-align: center;

  margin: 0 15px;
  border-radius: 5px;
  background-color: #47c3f0;
}
.info__link {
  padding: 4px 25px;
  color: #ffffff;
}
