.bg {
  width: 250px;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #e2e2e2;
}
.poser {
  display: flex;
  width: 250px;
  max-height: 330px;
}
.cover {
  object-fit: cover;
}
.containerText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 20px 20px 20px;
}
.title {
  width: 144px;

  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.56px;
  text-align: left;
  /* text-transform: uppercase; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: #242b2d;
}

.rating__number {
  padding: 3px 6px;

  font-family: HelveticaNeue;
  font-weight: 500;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.48px;
  text-align: left;

  border-radius: 3px;
  border: solid 1px #0aaee4;
  color: #47c3f0;
}

.genres {
  margin-top: 8px;

  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: 0.48px;
  text-align: left;
  color: #47c3f0;
}
