.bg {
  position: relative;
  width: 250px;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  overflow: hidden;
}
.poser {
  display: flex;
  width: 250px;
  height: 340px;
}
.cover {
  width: 100%;
  object-fit: cover;
}
.containerText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 20px 20px 20px;
}
.title {
  width: 160px;

  font-family: Roboto;

  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.56px;
  text-align: left;
  /* text-transform: uppercase; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: #242b2d;
}

.rating__number {
  display: inline-block;
  width: 32px;
  padding: 3px 6px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.48px;
  text-align: center;

  border-radius: 3px;
  border: solid 1px #0aaee4;
  color: #47c3f0;
}

.genres {
  margin-top: 8px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: 0.48px;
  text-align: left;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: #47c3f0;
}
.hide {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: white;
  transform: translateX(-100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bg:hover .hide {
  transform: translateX(0%);
}

.hide__link {
  text-align: right;
  margin-bottom: 10px;
}
.hide__title {
  width: 130px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.56px;
  text-align: left;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: #242b2d;
}

.hide__rating__number {
  display: inline-block;
  padding: 3px 6px;
  width: 30px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.48px;
  text-align: center;

  border-radius: 3px;
  border: solid 1px #0aaee4;
  color: #47c3f0;
}

.hide__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
}
.hide__text {
  height: 216px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: left;

  text-overflow: ellipsis;
  overflow: hidden;

  color: rgb(51, 50, 50);
}

.hide__button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.56px;
  text-align: center;
  color: #ffffff;
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;
  background-color: #47c3f0;

  border: 0;
  border-radius: 4px;
}
