body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:link,
:visited,
:active,
:active {
  text-decoration: none;
}

.MuiRating-decimal {
  color: #0aaee4;
}

.MuiRating-icon.MuiRating-iconEmpty.rad {
  color: rgba(0, 0, 0, 0.7);
}
/*Custum Swiper*/
.swiper-pagination-bullet {
  width: 3px;
  height: 14px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #0aaee4;
  opacity: 1;
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 4px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 1230px;
  width: 0;
  bottom: 35px;
}
