body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:link,
:visited,
:active,
:active {
  text-decoration: none;
}

.slick-dots li button:before {
  color: #ffffff;
}

.slick-dots li.slick-active button:before {
  color: #0aaee4;
}
.MuiRating-decimal {
  color: #0aaee4;
}

.MuiRating-icon.MuiRating-iconEmpty.rad {
  color: rgba(0, 0, 0, 0.7);
}
